{% extends 'base_auth.html' %}
{% load crispy_forms_tags %}
{% block title %}Confirm Password Reset{% endblock %}

{% block content %}

<body class="hold-transition login-page dark-mode">
<div class="login-box">
    <div class="login-logo">
        <h1>Easy Invoice</h1>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            {% if validlink %}
            <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
            <form method="POST">
                <div class="text-center">
                    {% csrf_token %}
                    {% crispy form %}
                </div>
            </form>
            {% else %}
            <div class="text-center">
                <h1>Password reset failed</h1>
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                    password reset.</p>
            </div>
            {% endif %}
            <p class="mt-3 mb-1">
                <a href="{% url 'accounts:login' %}">Login</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

{% endblock %}